* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.2px;
    transition: 0.5s;
    text-transform: capitalize;
}

body {
    background-color: rgb(239 239 239 / 80%)
}

/* this style-code for all headings */
h1,
h2,
h3 {
    text-transform: uppercase;
    color: rgb(63 91 118);
}

/* this style-code for header-section */
.header {
    width: 100%;
    height: 65px;
    padding: 3px;
    background-color: white;
    position: sticky;
    top: 0px;
    opacity: 0.8;
}

.header img {
    width: 90px;
    margin-left: 80px;
}

.tabs {
    list-style: none;
    float: right;
    margin-right: 150px;
}

.tabs li {
    display: inline-block;
    margin-left: 30px;
    font-size: 22px;
    margin-top: 15px;
}

.tabs a {
    text-decoration: none;
}

.tabs a:hover {
    color: crimson;
    text-decoration: underline;
}

/*  this style-code for the welcome-section  */
.welcome {
    height: 500px;
    padding: 100px;
    font-size: 32px;
    font-style: oblique;
    line-height: 55px;
    background-image: url(../Images/landing.jpg);
    background-size: cover;
}

.welcome .intro {
    width: 80%;
}

/*  
this style-code for the contact-section 
calc ( (main_div_width - total_sides_margins) / no_of_divs );
*/
.contact {
    padding: 10px;
    overflow: auto;
}

.contact div {
    width: calc((100% - 180px) / 3);
    height: 130px;
    margin: 60px 30px 0px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 26px;
    float: left;
}

.contact div:hover {
    background-color: rgb(238 238 238);
}

.contact div span {
    color: darkslateblue;
}

/* this style-code for the about-part */
.about {
    margin: 5px;
    padding: 60px;
    line-height: 45px;
}

.about ul {
    font-size: 24px;
    margin: 5px 40px;
    padding: 5px;
}

/* 
this style-code for form-section 
calc ((main_div_width - total_sides_margins) / no_of_inputs);
*/
.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 85%;
    margin: 5px auto 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px 0px;
}

.F-name,
.L-name {
    width: calc((100% - 30px) / 2);
    margin: 10px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
    float: left;
}

.L-name {
    margin: 10px 15px 10px 0px;
    padding: 10px 10px 10px 0px;
}

.F-name input,
.L-name input {
    width: calc(100% - 32px);
    margin: 10px 18px;
}

.M-num input,
.E-mail input,
.T-area textarea {
    width: calc(100% - 80px);
    margin: 15px 40px;
}

.form div input,
.form textarea {
    background-color: rgb(238 238 238);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    resize: none;
    padding: 7px;
}

.F-name label,
.L-name label {
    font-size: 20px;
    margin: 15px 17px;
    padding: 10px
}

.M-num label,
.E-mail label,
.T-area label {
    font-size: 20px;
    margin: 15px 37px;
    padding: 7px
}

.sub-button {
    width: 170px;
    height: 40px;
    margin: 20px 42%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(226 232 244);
    border: none;
    border-radius: 20px;
}

.sub-button:hover {
    background-color: rgb(190, 194, 204);
}